.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100vh;
  padding-bottom: 5%;
}
.title {
  max-width: 100rem;
  margin: 0 auto;
}
.inner {
  max-width: 100rem;
  margin: 0 auto;
}
